.nice_font {
  font-family: 'Hind Siliguri', sans-serif;
}

.green {
  color: #61adbd;
}

#btnEvent {
  width: 95%;
  height: 6vh;
  font-size: 90%;
  text-align: center;
  margin-left: -20%;
}

#basic-nav-dropdown {
  margin-top: 5%;
}

#nav {
  background: white;
  margin-top: 0;
}

#nav button {
  background: #61adbd;
  color: white;
}

#brand {
  color: #61adbd;
}

#carousel .item {
  height: 15em;
}

#carousel img {
  width: 100%;
}

#upcoming {
  border-top: 3px solid #61adbd;
  padding: 1em 0;
}

#nav .btn {
  vertical-align: top;
}

footer .icon {
  margin: 0 10%;
  color: white;
}

footer {
  background: #61adbd;
  padding: 1em 0;
}

footer a {
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

#nav img {
  width: 100%;
}